/** @format */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600&family=Sora:wght@100;200;300;400;500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	padding: 15px 20px;
	margin: 40px 320px;
	border: 2px solid #f1f6f9;
	background-color: #f3f1f5;
	display: flex;
	flex-direction: column;
}

h4 {
	font-family: 'Sora', sans-serif;
	font-size: 32px;
	margin: 10px;
}

.block {
	border: 2px solid;
	height: auto;
	width: 820px;
	background-color: #d5d5d5;
	border: none;
	margin: 10px;
	padding: 110px 20px;
}

.block p {
	line-height: 150px;
	color: #f7f7f7;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	vertical-align: middle;
	font-size: 80px;
	font-weight: 400;
	text-transform: capitalize;
}

.right {
	padding: 10px 50px;
	height: auto;
	width: calc(100 - 600px);
	flex-direction: column;
}

.main {
	font-size: 22px;
	margin-left: 10px;
	margin-top: 10px;
	font-weight: 700;
	font-family: 'Sora', sans-serif;
}

.sub {
	font-size: 16px;
	margin-left: 10px;
	margin-top: 10px;
	font-weight: 700;
	padding-right: 20px;
	text-align: justify;
	color: #9d9d9d;
}

button {
	width: 160px;
	margin-left: 10px;
	height: 50px;
	padding: 10px 20px;
	font-size: 14px;
	margin-top: 20px;
	font-weight: 700;
	border: none;
	border-radius: 3px;
	color: #f3f1f5;
	font-family: 'Sora', sans-serif;
	background-color: #00abb3;
}
